@{
    ViewData["Title"] = "Note Edit sayfası";
}

<div class="text-center">
    <h1 class="display-4">Burası kullanıcının, note list sayfasından seçtiği ilgili notu güncelleyeceği sayfa olacak.</h1>
    
</div>
