@using mvc_odev_2.Models

@model NoteModel

@{
    ViewData["Title"] = "User Menu sayfası";
}

<div class="text-center">
    @*<h1 class="display-4">Burada kullanıcı kendisi için not ekleyecek. </h1>*@
    <h1 class="display-4"> @Model.NoteDescription </h1>

    
</div>
