@{
    ViewData["Title"] = "User Menu sayfası";
}

<div class="text-center">
    <h1 class="display-4">Burada kullanıcının not ekle, not listele ve kullanıcı bilgileri güncelle sayfaları olacak. </h1>
    
</div>
