@{
    ViewData["Title"] = "User List sayfası";
}

<div class="text-center">
    <h1 class="display-4">Burası admin kullanıcının göreceği ve tüm kıullanıcıların listeleneceği sayfa olacak. </h1>
    
</div>
